* {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  background-color: #ffff;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}

.navbar h1 {
  color: #000000;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #34342d;
}

.navbar a:hover {
  color: #5d5d57;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
